<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Accounts</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
    <h2>Accounts</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, iStat: ${accounts}">
            <th scope="row" th:text="${account.id}"/>
            <td th:text="${account.title}"/>
            <td th:text="${decimalFormat.format(account.amount)}"/>
        </tr>
    </table>
</div>
</body>
</html>