<div xmlns:th="https://www.thymeleaf.org">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/accounts/all}">Accounts</a>
                <a class="navbar-brand" th:href="@{/categories/of/expense/all}">Categories of expense</a>
                <a class="navbar-brand" th:href="@{/categories/of/income/all}">Categories of income</a>
            </div>
            <div style="display: flex; position: absolute;top: 0px;right: 0px;margin-top: 12px;">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn" value="LogOut"/>
                </form>
            </div>
        </div>
    </nav>
</div>