<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Incomes</title>
</head>
<body>
<div th:replace="header"></div>
<div class="col-md-offset-2 col-sm-8">
  <h2>Incomes</h2>
  <form th:action="@{/incomes/create}" method="get">
    <input class="btn btn-info" type="submit" value="Create Income">
  </form>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Account</th>
      <th scope="col">Category</th>
      <th scope="col">Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="income, iStat: ${incomes}">
      <th scope="row" th:text="${income.id}"/>
      <td th:text="${income.date}"/>
      <td th:text="${decimalFormat.format(income.amount)}"/>
      <td th:text="${income.getAccount().getTitle()}"/>
      <td th:text="${income.getCategory().getTitle()}"/>
      <td th:text="${income.comment}"/>
    </tr>
  </table>
</div>
</body>
</html>