<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="col-md-offset-2">
  <h2>Sign In</h2>
</div>
<div class="form-group">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <div class="form-text" th:if="${param.error}">Invalid e-mail and password.</div>
    <div class="form-text" th:if="${param.logout}">You have been logged out.</div>
  </div>
</div>
<form class="form-horizontal" th:action="@{/login}" method="post">
  <div class="form-group">
    <label  class="col-sm-2 control-label">E-mail:</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" name="username"/>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Password:</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" name="password"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <input type="submit" class="btn btn-info" value="Sign In"/>
    </div>
  </div>
</form>
<div class="form-group">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <p class="form-text">Don't have an account? <a th:href="@{/users/create}">Register now!</a></p>
  </div>
</div>
</body>
</html>